body {
  background: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* display: flex; */
  /* align-items: center; */
  /* margin-right: 76px; */
  /* padding-top: 25.5px;
  padding-bottom: 25.5px; */
}

.header-logo {
  padding: 24px 0;
    margin-right: 76px;
}

.accent {
  color: var(--NAVY-BLUE, #2e2f42);
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-list .link:hover,
.menu-list .link:focus {
  color: #404BBF;
}

.link {
  color: var(--NAVY-BLUE, #2e2f42);
  display: block;

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.header-address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.address-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-menu-list .address-link:hover,
.address-menu-list .address-link:focus {
  color: #404BBF;
}

.address-link {
  color: var(--SLATE, #434455);
  display: block;

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Main */
/* Section wrapper */

.wrapper {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 0;
}

.wrapper-container {
  display: grid;
}

.heading {
  color: var(--WHITE, #fff);
  text-align: center;

  /* Header 1 */
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  /* margin-top: 188px; */
  max-width: 496px;
}

.button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);

  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  border: none;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
}

.wrapper .button:hover,
.wrapper .button:focus {
  background-color: #404BBF;
}


/* Content */

.content {
  background: #fff;
  min-width: 169px;
  padding: 120px 0;
}

.visually-hidden {
  color: var(--SLATE, #434455);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* Body */
  font-family: Roboto;
  font-style: normal;
}

.content-title-menu {
  display: flex;
  gap: 24px;
  padding: 120px 0;
}

.content-menu-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.content-title {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.content-text {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

/* Team */

.team {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  text-transform: capitalize;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  /* padding-top: 120px; */
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  gap: 24px;
}

.team-menu-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-cont {
  padding: 32px 0;
}

.team-img {
  margin: 0 auto;
  margin-bottom: 32px;
}

.team-subject {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-bottom: 8px;
  /* gap: 8px; */

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}

.team-sudtitle {
  color: var(--SLATE, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 32px;
}

.team-menu-item {
  background: var(--WHITE, #fff);
}


/* Portfolio */

.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  padding-bottom: 72px;
  margin-bottom: 72px;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-menu-item {
  width: calc((100% - 2 * 24) / 3);
}

.portfolio-img {
  margin: 0 auto;
}

.portfolio-sub {
  padding: 32px 16px;
  border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.portfolio-subject {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;

}

.portfolio-sudtitle {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}

a {
 
  margin-bottom: 16px;
}

.logo {
 display: inline-block; 
}

.accent-logo {
  color: var(--CLOUD, #f4f4fd);
 
}